body {
  background-color: #B7D5D0;
}

.App {
  text-align: center;
}

.App span {
  color: #5D6A6E;
  -webkit-text-stroke: 2px #B7D5D0;
  -webkit-text-fill-color: #3B2F4A;
  font-size: 1.2em;
}

.App header {
  position: fixed;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 100;
  display: block;
  background-color: #244A66 ;
  color: #B7D5D0;
}

main {
  padding: 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  border: 2px solid blueviolet;
}